// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/css/all.css";

.fs-7 {
    font-size: .78rem !important;
}

.fs-8 {
    font-size: .67rem !important;
}

.fs-9 {
    font-size: .53rem !important;
}